/*
	Thmem name: A-Fucking-Blog;
	Theme URI: lookatme.sinaapp.com;
	Author: SONG;
	Description: none;
*/
@import url('css/reset.css');
@import url(http://fonts.googleapis.com/css?family=Roboto);

html, body {
	width:100%;
	height:100%;
	font:13px/1.5 "Georgia Pro",georgia,serif;
}
a:link, a:visited, a:hover, a:focus {
	color:#2455c3;
}
a:link, a:visited {
	text-decoration:none;
}
a:hover, a:focus {
	text-decoration:underline;
}

header {
	text-align:center;
	border-bottom:1px dashed #262626;
	background:#262626;
}
header .wrapper, 
#main .wrapper, 
footer .wrapper, 
#main .single-wrapper,
#main .about-wrapper,
#main .link-wrapper,
#main .tag-wrapper,
#main .archives-wrapper {
	width:60%;margin:auto;
}
/*为页面设置min-height*/
#main .tag-wrapper,
#main .link-wrapper,
#main .archives-wrapper, 
#main .about-wrapper {min-height:500px;}

header h1 {font-size:60px;color:#f5f3f0;}
header p {
	font-style:italic;
	color:gray;
	line-height:1;
}
header ul {
	list-style-type:none;
	margin:10px 0;
}
header ul li {
	display:inline-block;
	padding:10px;
}


header ul a {
	font-size:15px;
}
header ul a:link, header ul a:visited {
	text-decoration:none;
	color:#f15b40;
}
header ul a:hover, header ul a:focus {
	text-decoration:underline;
	color:#f15b40;
}

/*----------------------main---------------------------*/
#main .wrapper {position:relative;}

#main .main-col {
	float: left;
	width:69%;
	border-right:1px dashed #262626;
}
#main .second-col {float:right;
	width:30%;
}
#main .main-col .post {
	padding:30px;
	line-height:2;
}

#main .main-col .post h1 {
	line-height:1.5;
	font-size:24px;
}
#main .main-col .post h1 a {
	color:#2455c3;
}
#main .main-col .post .comment a {
	color:gray;
	line-height:2;
}

#main .wrapper .second-col ul h1 {
	font-size:24px;
}

#main .wrapper .second-col ul {
	margin:30px;
	padding:10px 20px;
	line-height:2;
	font-size:14px;
}

/*--------------------main more-----------------------------*/
#main .main-col .post .more {
	padding:0 10px;
}
#main .main-col .post .more a {
	color:#ba3925;
	color:#67abb8;
}


/*-------------------------------------------------*/
.clear {clear:both;}



/*----------------------footer---------------------------*/

footer {
	padding:10px 0;
	border-top:1px dashed #262626;
	color:white;
	text-align:center;
	background:#262626;
}




/*----------------------single page---------------------------*/
.single-wrapper .post {
	padding:30px 0;
	line-height:2;
}
.single-wrapper .title {
	font-size:24px;
	line-height:1.5;
	color:#67abb8;
	text-align:center;
}
.single-wrapper .meta {
	margin:5px 0 10px;
	text-align:center;
}

/*让图片居中显示*/
.single-wrapper .alignnone,
.single-wrapper .aligncenter, 
.single-wrapper .alignright, 
.single-wrapper .alignleft {
	display:block;
	margin:10px auto;
}


/*-----------------------archives page---------------------------*/

.archives-wrapper .list {
	width:60%;
	margin:auto;
	margin-bottom:40px;
	line-height:2;
	font-size:15px;
}

.archives-wrapper .list h1 {
	font-size:40px;
	text-align:center;
}

.archives-wrapper .archiveList li {
	position:relative;
}
.archives-wrapper .archiveList .meta {
	position: absolute;
	right:0;
}



/*-----------------------tags page---------------------------*/
.tag-wrapper {
	padding:30px 0;
}
.tag-wrapper a {
	color:#2455c3;
}
.tag-wrapper .tag-name {
	font-size:30px;
	text-align:center;
}
.tag-wrapper .post {
	position:relative;
	width:60%;
	margin:auto;
	line-height:2;
	font-size:15px;
}
.tag-wrapper .post p {
	display:inline-block;
}
.tag-wrapper .post .comment {
	position:absolute;
	right:0;
}

